{% extends "layout.html" %}
{% block content %}

<div
    class="mt-12 md:p-8 p-4 flex bg-slate-100 rounded-md shadow-sm flex justify-center items-start flex-col gap-4 md:w-2/4 w-1/2">
    <h1 class="font-bold md:text-3xl sm:text-2xl text-xl text-blue-500">
        SMS Classification API
    </h1>
    <p class="text-justify md:text-lg text-sm">
        This is an SMS spam classification API built using the Flask framework. It processes SMS messages to determine
        whether
        they are spam or legitimate, providing an efficient, backend solution for automated message filtering.
    </p>
</div>

{% endblock content %}